.advantages {
  background-color: $color-default-light;
  padding-top: 120px;

  @include vp-1023 {
    padding-top: 80px;
  }

  @include vp-767 {
    padding-top: 50px;
  }
}

.advantages ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  list-style: none;

  @include vp-1023 {
    column-gap: 28px;
    row-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.advantages li {
  position: relative;
  padding: 40px 45px;
  color: $color-default-blue;
  background-color: $color-transparent;
  cursor: pointer;
  min-height: 300px;
  border: 1px solid #ebebeb;

  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: $color-default-blue;
    content: "";
  }

  &:hover,
  &:focus-visible {
    background-color: $color-default-blue;
    color: $color-default-light;
  }

  @include vp-1023 {
    padding: 39px 40px 31px 44px;
    min-height: 360px;
  }

  @include vp-767 {
    padding: 29px 25px 31px 30px;
    width: 100%;
    min-height: 340px;

    &:nth-child(n+3) {
      min-height: 325px;
    }
  }
}

.advantages svg {
  fill: $color-default-blue;
  margin-bottom: 13px;

  @include vp-1023 {
    margin-bottom: 9px;
  }

  @include vp-767 {
    width: 30px;
    height: auto;
  }
}

.advantages__tag {
  margin-left: 2px;

  @include vp-767 {
    margin: 0;
  }
}

.advantages .advantages__tag > svg {
  margin-bottom: 4px;

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.advantages__detective svg {
  @include vp-767 {
    margin-bottom: 12px;
  }
}

.advantages__detective h3 {
  @include vp-767 {
    margin-bottom: 13px;
  }
}

.advantages .advantages__tag > h3 {
  margin-bottom: 6px;

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.advantages h3 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $ff-Roboto-Condensed;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.4;

  @include vp-1023 {
    margin-bottom: 9px;
  }

  @include vp-767 {
    font-size: 1.25em;
  }
}

.advantages p {
  margin: 0;
  padding: 0;
  line-height: 1.35;
  color: $color-default-black;

  @include vp-767 {
    font-size: 0.88em;
    line-height: 1.35;
  }
}

.advantages li:hover svg {
  fill: $color-default-light;
}

.advantages li:hover p {
  color: $color-default-light;
}
