.page-footer {
  flex: 0 0 auto;
  width: 100%;
  background-color: $color-default-black;
  padding-top: 50px;
  padding-bottom: 55px;

  @include vp-1023 {
    padding-bottom: 63px;
  }

  @include vp-767 {
    padding: 35px 0 35px;
  }
}

.page-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__container-logo {
  margin-bottom: 31px;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 15px;
    margin-right: 5px;
  }
}

.page-footer__logo-social {
  margin-right: 160px;
  margin-bottom: 30px;

  @include vp-1023 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 23px;
    width: 100%;
    flex-wrap: wrap;
  }

  @include vp-767 {
    margin-bottom: 24px;
    justify-content: center;
  }
}

.page-footer__logo-social a {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  width: 100%;
  height: 100%;

  &[href] {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
  }
}

.page-footer__logo-social > ul a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__container-logo a {
  opacity: 1;
}

.page-footer__logo-social img {
  width: 215px;
  height: auto;
}

.page-footer__logo-social svg {
  fill: $color-default-light;
}

.page-footer__logo-social ul {
  display: flex;
  align-items: center;
  margin-left: 10px;

  @include vp-1023 {
    margin-right: -6px;
  }

  @include vp-767 {
    width: 100%;
    margin-left: 5px;
    justify-content: center;
  }
}

.page-footer__logo-social li {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  flex-wrap: wrap;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    position: relative;
    margin: 0;
  }
}

.page-footer__nav > div {
  margin-bottom: 30px;

  @include vp-767 {
    position: relative;
    width: 100%;
    min-height: 60px;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      right: -9%;
      left: -9%;
      top: 0;
      background-color: rgba(250, 254, 255, 0.7);
      height: 1px;
    }

    &:last-child::before {
      content: "";
      position: absolute;
      right: -9%;
      left: -9%;
      bottom: 0;
      background-color: rgba(250, 254, 255, 0.7);
      height: 1px;
    }
  }
}

.page-footer__nav h2 {
  margin: 0;
  margin-bottom: 23px;
  font-family: $ff-Roboto-Condensed;
  font-size: 0.94em;
  line-height: 1.07;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  font-weight: 400;

  @include vp-767 {
    margin: 0;
    width: 86%;
  }
}

.page-footer__nav li {
  margin-bottom: 9px;
  line-height: 1.35;
  color: rgba(255, 255, 255, 0.7);

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    letter-spacing: -0.08em;
    line-height: 1.2;
    margin-bottom: 8px;

    &:first-child {
      margin-top: 12px;
      margin-bottom: 19px;
    }
  }
}

.page-footer__nav a {
  line-height: 1.35;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  user-select: none;
  cursor: default;
  pointer-events: none;
  opacity: 0.3;

  &[href] {
    cursor: pointer;
    opacity: 1;
    pointer-events: all;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
  }
}

.page-footer__sections {
  min-width: 450px;

  @include vp-1869 {
    min-width: fit-content;
  }

  @include vp-1023 {
    min-width: 220px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.page-footer__sections ul {
  columns: 2;
  list-style: none;

  @include vp-1869 {
    columns: 1;
  }

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    max-width: 240px;
    max-height: 100%;
  }

  @include vp-767 {
    columns: 1;
  }
}

.page-footer__sections ul > li {
  max-width: 210px;
  width: fit-content;
  margin-right: 24px;

  &:last-child {
    margin-bottom: 44px;
  }

  @include vp-1869 {
    margin-right: 5px;
  }


  @include vp-1023 {
    width: fit-content;
  }
}

.page-footer__title-container {
  @include vp-767 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__title-container > a {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.94em;
  line-height: 1.07;
  letter-spacing: 0.05em;
  min-height: 38px;
  display: block;
  font-family: $ff-Roboto-Condensed;

  &::after,
  &::before {
    display: none;
  }

  @include vp-1023 {
    min-height: fit-content;
    padding: 15px 0;
    margin-bottom: 8px;
  }

  @include vp-767 {
    min-height: 60px;
    margin-bottom: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 15px;
  }
}

.page-footer__title-container.is-js > a {
  @include vp-767 {
    position: relative;
    display: block;
    background-color: $color-transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::after,
    &::before {
      display: block;
      position: absolute;
      bottom: 5px;
      right: 2px;
      top: 0;
      width: 15px;
      height: 1px;
      background-color: #c4c4c4;
      margin: auto 0;
      content: "";
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}

.page-footer__title-container > a.is-open {
  @include vp-767 {
    &::before {
      display: none;
    }
  }
}

.page-footer__title-container ul {
  @include vp-767 {
    width: 100%;
    flex: 1;
    margin-top: -16px;
    margin-bottom: 16px;
  }
}

.page-footer__title-container.is-js ul {
  @include vp-767 {
    display: none;
  }
}


.page-footer__title-container a.is-open + ul {
  @include vp-767 {
    display: block;
  }
}

.page-footer__office {
  max-width: 345px;

  @include vp-1023 {
    max-width: 321px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}
