.prime-header {
  position: sticky;
  top: 0;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 500;
  padding-top: 30px;
  padding-bottom: 35px;

  @include vp-1023 {
    position: static;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.prime-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prime-header__nav {
  flex: 2;

  @include vp-1023 {
    margin-right: 0;
  }
}

.prime-header__nav ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 467px;

  @include vp-1023 {
    justify-content: end;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 11px;
  }
}

.prime-header__nav li {
  margin: 10px 20px 10px 7px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    margin: 0;
    margin-right: 20px;
  }
}

.prime-header__nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 1.12;
  min-height: 29px;
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  user-select: none;

  &[href] {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }

  &[href]:hover,
  &[href]:focus-visible {
    opacity: 0.5;
  }

  @include vp-1023 {
    width: 40px;
    height: 40px;
  }

  @include vp-767 {
    height: 30px;
  }
}

.prime-header__nav span {
  padding-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.prime-header__logo {
  @include vp-767 {
    margin-left: 2px;
  }
}

.prime-header__logo img {
  width: 215px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.prime-header__container-link {
  margin-right: 61px;
  margin-top: 5px;
  margin-left: 10px;

  @include vp-1023 {
    display: none;
  }
}

.prime-header__container-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 160px;
  width: fit-content;
  margin-left: auto;
  background-color: $color-transparent;
  border: 1px solid $color-light;
  border-radius: 3px;
  padding: 8px 15px;
  font-size: 0.85em;
  line-height: 1.17;
  text-transform: uppercase;
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  user-select: none;

  &[href] {
    cursor: pointer;
    pointer-events: all;
    opacity: 1;

    &:hover,
    &:focus-visible {
      opacity: 0.3;
    }
  }
}
